@page "/"
@using System.Linq

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <!-- Left section -->
            <input type="text" placeholder="Course Search.." @bind="@searchQuery" /> <br />
            <div class="btn-group-vertical w-100" role="group" >
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CPSC 231
                    </button>
                    <div class="dropdown-menu w-200" aria-labelledby="btnGroupDrop1">
                      <p> <b> Introduction to Computer Science for Computer Science Majors I</b>Introduction to problem solving, the analysis and design of small-scale computational systems, and implementation using a procedural programming language. For computer science majors.<br /> <br />This course may not be repeated for credit.<br /></p>
                      <a class="dropdown-item" href="#">Prerequisites</a>
                      <a class="dropdown-item" href="#">Antirequisites</a>
                      <a class="dropdown-item" href="#">Credit Hours </a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MATH 211
                    </button>
                    <div class="dropdown-menu w-200" aria-labelledby="btnGroupDrop1">
                      <p> <b>Linear Methods I</b> <br />An introduction to systems of linear equations, vectors in Euclidean space and matrix algebra. Additional topics include linear transformations, determinants, complex numbers, eigenvalues, and applications.<br /> <br />This course may not be repeated for credit.<br /></p>
                      <a class="dropdown-item" href="#">Prerequisites</a>
                      <a class="dropdown-item" href="#">Antirequisites</a>
                      <a class="dropdown-item" href="#">Credit Hours </a>
                    </div>
                </div>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CPSC 329
                    </button>
                    <div class="dropdown-menu w-200" aria-labelledby="btnGroupDrop1">
                      <p> <b>Explorations in Information Security</b><br /> A broad survey of topics in information security and privacy, with the purpose of cultivating an appropriate mindset for approaching security and privacy issues. Topics will be motivated by recreational puzzles. Legal and ethical considerations will be introduced as necessary. <br />This course may not be repeated for credit.<br /></p>
                      <a class="dropdown-item" href="#">Prerequisites</a>
                      <a class="dropdown-item" href="#">Antirequisites</a>
                      <a class="dropdown-item" href="#">Credit Hours </a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                     <button id="btnGroupDrop1" type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MATH 249
                    </button>
                    <div class="dropdown-menu w-200" aria-labelledby="btnGroupDrop1">
                      <p> <b>Introductory Calculus</b><br />An introduction to single variable calculus. Limits, derivatives and integrals of algebraic, exponential, logarithmic and trigonometric functions play a central role. Additional topics include applications of differentiation; the fundamental theorem of calculus, improper integrals and applications of integration.<br />This course may not be repeated for credit. <br /></p>
                      <a class="dropdown-item" href="#">Prerequisites</a>
                      <a class="dropdown-item" href="#">Antirequisites</a>
                      <a class="dropdown-item" href="#">Credit Hours </a>
                    </div>
                </div>
              
            </div
            
        </div>
        <div class="col-lg-8 col-md-6">
            <!-- Right section -->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Left container -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Fall 2023</b></h5>
                            <div class="btn-group-vertical w-100" role="group" >
                                <button type="button" class="btn btn-light btn-lg btn-block">CPSC 231</button> <br />
                                <button type="button" class="btn btn-light btn-lg btn-block">PHIL 279</button> <br />
                                <button type="button" class="btn btn-light btn-lg btn-block">MATH 211</button> <br />
                                <button type="button" class="btn btn-light btn-lg btn-block">FILM 201</button> <br />
                                <button type="button" class="btn btn-light btn-lg btn-block">SOCI 201</button> <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Right container -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Winter 2024</b></h5>
                            <div class="btn-group-vertical w-100" role="group" >
                                <button type="button" class="btn btn-light btn-lg btn-block">CPSC 233</button> <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string searchQuery = "";

    private List<string> courses = new List<string>
    {
        "Introduction to Computer Science",
        "Data Structures and Algorithms",
        "Web Development with ASP.NET Core",
        "Database Systems",
        "Mobile App Development",
        "Software Engineering",
        "Artificial Intelligence",
        "Computer Networks"
    };

    private IEnumerable<string> GetSearchResults()
    {
        return courses.Where(c => c.ToLower().Contains(searchQuery.ToLower()));
    }
}
