@page "/"
@using System.Linq
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Cards

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
            <!-- Left section -->

            <!--Search Bar-->
            <div class="text-center bg-blue-100">
                <input class="w-75 rounded m-6 p-6 h-8
               border-blue-300" placeholder="Course search..." />
            </div>

            <!--Course Results List-->
            <div style="height:650px;overflow-y:scroll">
                <table class="table">
                    <tbody>
                        <Virtualize ItemsProvider="LoadEmployeeDetails" Context="employee">
                            <ItemContent>
                                <tr>
                                    <td>
                                        <SfCard>

                                            <CardHeader>Sample Card</CardHeader>
                                            <CardContent>@employee.EmployeeId</CardContent>
                                        </SfCard>
                                    </td>
                                </tr>
                            </ItemContent>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-8 col-md-6 text-center">
            <!-- Right section -->
            <div class="row text-center">
                <div class="col-lg-6">
                    <!-- Left container -->
                    <div class="card bg-gradient bg-opacity-25 bg-info">
                        <div class="card-body">
                            <h5 class="card-title bg-gradient bg-opacity-50 bg-info text-center"><b>Fall 2023</b></h5>
                            <div class="btn-group-vertical w-100" role="group">
                                <button type="button" class="btn btn-primary btn-lg btn-block">CPSC 231</button> <br />
                                <button type="button" class="btn btn-success btn-lg btn-block">PHIL 279</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">MATH 211</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">FILM 201</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">SOCI 201</button> <br />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 text-center">
                    <!-- Right container -->
                    <div class="card bg-opacity-25 bg-warning">
                        <div class="card-body">
                            <h5 class="card-title bg-opacity-50 bg-warning text-center"><b>Winter 2024</b></h5>
                            <div class="btn-group-vertical w-100 " role="group">
                                <button type="button" class="btn btn-primary btn-lg btn-block">CPSC 233</button> <br />
                                <button type="button" class="btn btn-success btn-lg btn-block">PHIL 314</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">MATH 265</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">FILM 203</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">SPAN 201</button> <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <br /><br />
                        <button type="button" class="btn btn-primary btn-outline-primary text-center">Go To Spring/Summer</button>
                        <br /><br /><br /><br /><br /><br />
                        <button type="button" class="btn btn-danger text-center">Reset</button>
                        <button type="button" class="btn btn-danger text-center">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    public string searchQuery = "";

    private List<EmployeeDetails> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await GetEmployeeDetails();
    }
    private async ValueTask<ItemsProviderResult<EmployeeDetails>> LoadEmployeeDetails(ItemsProviderRequest request)
    {
        var employees = await GetEmployeeDetails();
        return new ItemsProviderResult<EmployeeDetails>(employees.Skip(request.StartIndex).Take(request.Count), employees.Count());
    }
    private async Task<List<EmployeeDetails>> GetEmployeeDetails()
    {
        List<EmployeeDetails> employeeList = new List<EmployeeDetails>();
        List<string> roleList = new List<string>() { ".Net Developer", "Testing Engineer", "Graphic Designer", "Technical Writer", "Support Coordinator" };
        int roleArrayIndex = 0;
        int tempCount = 0;
        int employeeDataCount = 100;

        for (int i = 1; i <= employeeDataCount; i++)
        {
            if (i > tempCount + employeeDataCount / roleList.Count())
            {
                roleArrayIndex++;
                tempCount = i - 1;
            }

            var employeeDetails = new EmployeeDetails()
            {
                EmployeeId = i,
                Name = "Employee " + i.ToString(),
                Role = roleList[roleArrayIndex]
            };

            employeeList.Add(employeeDetails);
        }
        return await Task.FromResult(employeeList);
    }

    public class EmployeeDetails
    {
        public int EmployeeId { get; set; }

        public string Name { get; set; }

        public string Role { get; set; }
    }

}
<style>
    .e-card {
        background-color: antiquewhite;
        height: 300px;
    }
</style>
