@inherits LayoutComponentBase
@page "/ScheduleBuilder"

@using Microsoft.AspNetCore.Components.Web
@using System.Linq
@using Syncfusion.Blazor

<PageTitle>Schedule Builder</PageTitle>

<head>
    <style>
        .center-fit {
            max-width: 100vw;
            max-height: auto;
            margin: 0;
            top:0;
            left:0;
        }
    </style>
</head>

<body>
    <img class="center-fit" src="/assets/ScheduleBuilder.png">
</body>
    


@code {
    @layout EmptyLayout
}