@page "/ScheduleBuilder"
@using Microsoft.AspNetCore.Components.Web
@using System.Linq
@using Syncfusion.Blazor
@using CourseCompanion.Shared

<PageTitle>Course Companion</PageTitle>

<!--Page Anchor-->
<a asp-page="/PageExample">Page Example</a>

<div>
    <img src="/assets/ScheduleBuilder.png" />
</div>


@code {


}