.collapsable-panel {
    border: 1px solid #eee;
    padding: 5px;
    background-color: antiquewhite;
    overflow: hidden;
}

.collapsable .title {
    display: table-cell;
    text-align: left;
    font-stretch:narrower;
    display:flex;
    padding-right: 10px;
}

.collapsable .value {
    display: table-cell;
    text-align: right;
}
