.collapsable-panel {
    padding-top: 0.3rem;
    padding-right: 0.2rem;
    background-color: antiquewhite;
    overflow: hidden;
    transition: height ease-in-out;
}

.collapsable .title {
    display: table-cell;
    text-align: left;
    font-size:medium;
    font-stretch: narrower;
    display: flex;
    justify-content: space-between;
    padding-right: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapsable .value {
    display: table-cell;
    text-align: right;
}
