.content {
    padding: 0.5rem;
}

.card-content{
    background-color: antiquewhite;
    font-size: smaller;
    display: table-cell;
    text-align: left;
}

.e-card {
    border-radius: 0.5rem;
    background-color: antiquewhite;
    height: auto;
    width: 22rem;
    padding: 0.25rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

    .e-card .e-card-actions .e-card-btn {
        padding-left: 1.5rem;
        background-color: wheat;
    }

    .e-card .e-card-header {
        font-size: 140%;
        font-weight: bolder;
        font-stretch: condensed;
        color: black;

    }

.e-plus-icon::before {
    content: '\e823';
}