
<!--Search Bar-->
<div class="text-center bg-blue-100">
    <div style="margin-bottom: 1rem">
        <input class="rounded m-6 p-6 h-8 border-blue-300" style="width:85%" placeholder="Course search..." />
    </div>
    
</div>

@code {

}

