
/* Semester */

.active.Fall {
    background-color: lightcyan;
}

.active.Winter {
    background-color: cornsilk;
}

.active.Spring {
    background-color: thistle;
}

.active.Summer {
    background-color: lightsalmon;
}

/* Eligible */

.active.eligibility {
    background-color: rgb(102, 192, 84);
}

/* Major Field */

.active.cpsc {
    background-color: rgb(84, 192, 188);
}

.active.math {
    background-color: rgb(225, 219, 106);
}

/* Faculty Breadth */

.active.math {
    background-color: rgb(225, 219, 106);
}

/* Other Requirement */


/* Open Options */

/* Levels */

