
/* Semester */

.active.Fall {
    background-color: lightcyan;
}

.active.Winter {
    background-color: cornsilk;
}

.active.Spring {
    background-color: thistle;
}

.active.Summer {
    background-color: lightsalmon;
}

/* Eligible */

.active.eligibility {
    background-color: rgb(102, 192, 84);
}

/* Major Field */

.active.cpsc {
    background-color: rgb(84, 192, 188);
}

.active.math {
    background-color: rgb(225, 219, 106);
}

/* Faculty Breadth */

.active.math {
    background-color: rgb(225, 219, 106);
}

/* Other Requirement */


/* Open Options */

/* Levels */



.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 2rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    background-color: aliceblue;
    color: black;
}

.nav-item ::deep a.active {
    background-color: hwb(203 58% 7%);
    color:black;
}

.nav-item ::deep a:hover {
    background-color: hwb(203 58% 7%);
    color: black;
}

.oi ::deep a:hover {
    background-color: hwb(203 58% 7%);
    color: black;
}



.pageless{
    margin-bottom: 150px;
}


.semester-toggle {
    display: none;
}

.semester-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.semester-toggle:checked ~ .semester-collapse {
    max-height: 20rem;
    transition: max-height 0.2s ease-in;
}

.semester-text {
    display: flex;
    justify-content: space-between;
    width:100% ;
}

label[for="semesterToggle"] {
    width: 100%;
    cursor: pointer;
}


.custom-nav-link{
    width:30rem;
    background-color: aqua;
}


.level-text {
    display: flex;
    justify-content: space-between;
    width:100% ;
}


.level-toggle {
    display: none;
}

.level-collapse {
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
}

.level-toggle:checked ~ .level-collapse {
    max-height: 16rem;
    overflow-y: scroll;
    transition: max-height 0.2s ease-in;
   
}

label[for="levelToggle"] {
    width: 100%;
    cursor: pointer;
}












@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}