@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a><b>Course Companion</b></a>
            <a>Benjamin Z, CPSC</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

