@using System.Linq
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Components
@using CourseCompanion.Shared.State
@using CourseCompanion.Shared.Model
@using CourseCompanion.Shared.Services
@using CourseCompanion.Shared.SemesterContainers

@inject HttpClient Http
@inject StateContainer State
@inject ICourseService CourseService
@inject NavigationManager NavigationManager;


<!-- Buttons -->
<button type="button" class="btn btn-danger text-center" data-bs-toggle="modal" data-bs-target="#resetModal" style="position:absolute; bottom:1.5rem; right:16rem; margin-left:inherit">Reset</button>
<button type="button" class="btn btn-danger text-center" data-bs-toggle="modal" data-bs-target="#exportModal" style="position: absolute; bottom: 1.5rem; right: 10rem; margin-left: inherit">Export</button>

<!-- Export Confirmation Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalLabel">Export?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to export this schedule? You will not be able to return to this schedule once you accept.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep Editing</button>
                <button type="button" @onclick="ExportButton" class="btn btn-success" data-bs-dismiss="modal">Yes, Export</button>

            </div>
        </div>
    </div>
</div>


<!-- Export Redirect Modal -->

<div class="modal fade" id="exportRedirectModal" tabindex="-1" role="dialog" aria-labelledby="exportRedirectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportRedirectModalLabel">Exporting to Schedule Builder...</h5>
            </div>
            <div class="modal-body">
                You will be redirected shortly. <br />
                <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="ExportButton" class="btn btn-success" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>





<!-- Reset Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Reset?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to reset this schedule? You will not be able to recover this schedule if you continue.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep Editing</button>
                <button type="button" @onclick="ResetButton" class="btn btn-danger" data-bs-dismiss="modal">Yes, Reset</button>
            </div>
        </div>
    </div>
</div>


<!-- helpModal1 Progress bar tutorial modal -->
<div class="modal" id="helpModal1" tabindex="-1" role="dialog" aria-labelledby="helpModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Use the progress bar to check your units remaining.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal2">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal2 filtered courses tutorial modal -->
<div class="modal fade" id="helpModal2" tabindex="-1" role="dialog" aria-labelledby="helpModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Filtered courses will show up in this column.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal3">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal3 filtered nav bar tutorial modal -->
<div class="modal fade" id="helpModal3" tabindex="-1" role="dialog" aria-labelledby="helpModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Use the filters to look for courses based on your graduation requirements.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal4">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal4 plus button tutorial modal -->
<div class="modal fade" id="helpModal4" tabindex="-1" role="dialog" aria-labelledby="helpModal4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--YVONNEEEEEEEEEEEEEE-->
                Use the plus button to add a course to a semester, and the down button to see more information.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal5">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal5 Semester card tutorial modal -->
<div class="modal fade" id="helpModal5" tabindex="-1" role="dialog" aria-labelledby="helpModal5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Planned courses will show up here. Use the trash icon to remove them.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal6">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal6 reset tutorial modal -->
<div class="modal fade" id="helpModal6" tabindex="-1" role="dialog" aria-labelledby="helpModal6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Use the Reset button to clear all filters and courses.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#helpModal7">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- helpModal7 export tutorial modal -->
<div class="modal fade" id="helpModal7" tabindex="-1" role="dialog" aria-labelledby="helpModal7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Use the Export button when you're finished to send your changes to Schedule Builder.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">End</button>
            </div>
        </div>
    </div>
</div>


<!-- degreeReqModal modal -->
<div class="modal fade" id="degreeReqModal" tabindex="-1" role="dialog" aria-labelledby="degreeReqModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: right;">Degree Requirements</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <b>Units: 120.00 required, 15 taken, 105.00 needed</b>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" style="text-align: left;">

                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    CPSC 231 and CPSC 233
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 251
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    CPSC 251
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 251
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    CPSC 351
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 351
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    CPSC 355
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 355
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    CPSC 413
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 413
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    CPSC 449
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 449
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    CPSC 457
                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 457
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    CPSC 331
                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from CPSC 331.<br />

                                            NOTE: Students who have completed CPSC 319, prior to admission to a program in Computer Science, may use this course in lieu of CPSC 331 as a program requirement. Contact the Undergraduate Science Centre to have this course applied. Students with CPSC 319 will be required to complete a non-credit, on-line course in order to be qualified for senior courses in theoretical computer science. Students may contact the Department of Computer Science in order to register in this course.
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    SENG 300
                                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from SENG300 (or SENG301 or CPSC301, both discontinued)
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    Additional courses in the field of Computer Science at the 500 level or above
                                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 9 units selected from courses in the field of Computer Science at the 500 level or above<br />

                                            Note: ENEL 573 may be used in lieu of CPSC 441, so will count as a 400 level.
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    Additional courses in the field of Computer Science at the 400 level or above
                                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 12 units selected from courses in the field of Computer Science at the 400 level or above
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                    Additional courses in the field of Computer Science at the 300 level or above
                                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 9 units selected from courses in the field of Computer Science at the 300 level or above
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    MATH 249 or MATH 265 or MATH 275
                                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from MATH 249, MATH 265, MATH 275
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                    MATH 211 or MATH 213
                                    <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units from MATH 211, MATH 213
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                    PHIL 279 or PHIL 377
                                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units Logic requirement<br />
                                            Min 3 units from PHIL 279, PHIL 377
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                    PHIL 314
                                    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 3 units Ethics requirement<br />
                                             Min 3 units PHIL 314
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                    Additional courses from outside the Faculty of Science
                                    <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Min 12 units from outside the Faculty of Science (some exceptions - see Calendar)
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                    Non-Major Field Requirement
                                    <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Optional courses to complete the minimum 120 units for a single degree<br />
                                            Min 30 units in optional courses outside the Field of Computer Science<br />

                                            NOTE: Students must ensure that they check their limiting requirements and do not exceed allowable junior (2xx) levels.
                                        </div>
                                    </div>
                                </button>
                                <br />
                                <button class="btn btn-light btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                    Open Options
                                    <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionExample">
                                        <div class="card-body" style="text-align: left;">
                                            Optional courses to complete the minimum 120 units for a single degree<br />
                                            Min 6 units in optional courses to complete the minimum 120 units for a single degree <br />

                                            NOTE: Students must ensure that they check their limiting requirements and do not exceed allowable junior (2xx) levels.
                                        </div>
                                    </div>
                                </button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        // subscribe to OnCourseEvent
        CourseService.OnCourseEvent += CourseHandler;
    }

    private void CourseHandler()
    {
        StateHasChanged();
    }

    // user clicked the reset button
    public void ResetButton()
    {
        Console.WriteLine("Reset button pressed");

        State.ResetState();

        CourseService.Update();
        StateHasChanged();

    }
    private ElementReference imageRef;

    public async Task ExportButton()
    {
        Console.WriteLine("Reset button pressed");

        State.ResetState();

        CourseService.Update();
        StateHasChanged();

        this.NavigationManager.NavigateTo("/ScheduleBuilder");

    }

}

