@using CourseCompanion.Shared.Filter
@inject NavigationManager Navigator

<!--NavBar Top Section-->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="@Navigator.BaseUri/assets/UC-horz-rgb.png" title="University of Calgary" style='backgroud-color:orange;position: absolute; left:0px; top:0px; height: 115% ;padding-bottom:10px; width:100%; object-fit: contain' />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!--Semester Button-->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="text-box">
            <a href="#" class="btn btn-white btn-animate"><b>Filters</b></a>
        </div>


        <Filter />

        <!--Help button that calls first modal in SemesterContainers.razor-->
        <div class="fixed-bottom px-4">
            <button type="button" class="btn btn-secondary btn-outline-light text-center" data-bs-toggle="modal" data-bs-target="#helpModal1">Need Help? Click Here!</button>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
