<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
       <a class="navbar-brand">
            <img src="/assets/UC-horz-rgb.png" title="University of Calgary" style='backgroud-color:orange;position: absolute; left:0px; top:0px; height: 115% ;padding-bottom:10px; width:100%; object-fit: contain' />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="text-box">
            <a href="#" class="btn btn-white btn-animate"><b>Filters</b></a>
        </div>





        <div class="nav-item px-3">
    <input type="checkbox" id="semesterToggle" class="semester-toggle" />
    <label for="semesterToggle">
        <NavLink class="nav-link">
            <span class="semester-text" aria-hidden="true">
                <span>Semester</span>
                <span>▼</span>
            </span>
        </NavLink>
    </label>
    <div class="semester-collapse">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">Fall</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">Spring</span>
            </NavLink>
        </div>
 </div>
</div>






        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">Eligible</span> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">Major Field</span> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true"> Faculty Breadth</span>
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">Other Requirements</span> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true"> Open Options</span>
            </NavLink>
        </div>
           
         
         
         
         
<div class="nav-item px-3">
    <input type="checkbox" id="levelToggle" class="level-toggle" />
    <label for="levelToggle">
        <NavLink class="nav-link">
            <span class="level-text" aria-hidden="true">
                <span>Level</span>
                <span>▼</span>
            </span>
        </NavLink>
    </label>

    <div class="level-collapse">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">200</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">300</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">400</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">500</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">600</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class=" " aria-hidden="true">700</span>
            </NavLink>
        </div>
    </div>
</div>






        <!--Help button that calls first modal in SemesterContainers.razor-->
        <div class="fixed-bottom px-4">
            <button type="button" class="btn btn-secondary btn-outline-light text-center" data-bs-toggle="modal" data-bs-target="#helpModal1">Need Help? Click Here!</button>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

