<div class="row text-center">
                <div class="col-lg-6">
                    <!-- Left container -->
                    <div class="card bg-opacity-25 bg-warning">
                        <div class="card-body">
                            <h5 class="card-title bg-opacity-50 bg-warning text-center"><b>Winter 2024</b></h5>
                            <div class="btn-group-vertical w-100 " role="group">
                                <button type="button" class="btn btn-primary btn-lg btn-block">CPSC 233</button> <br />
                                <button type="button" class="btn btn-success btn-lg btn-block">PHIL 314</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">MATH 265</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">FILM 203</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">SPAN 201</button> <br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 text-center">
                    <!-- Right container -->
                    <div class="card bg-opacity-25 bg-warning">
                        <div class="card-body">
                            <h5 class="card-title bg-opacity-50 bg-warning text-center"><b>Winter 2024</b></h5>
                            <div class="btn-group-vertical w-100 " role="group">
                                <button type="button" class="btn btn-primary btn-lg btn-block">CPSC 233</button> <br />
                                <button type="button" class="btn btn-success btn-lg btn-block">PHIL 314</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">MATH 265</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">FILM 203</button> <br />
                                <button type="button" class="btn btn-info btn-lg btn-block">SPAN 201</button> <br />
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="col-lg-6 text-center">
                        <br /><br />
                        <button type="button" class="btn btn-primary btn-outline-primary text-center">Go To Spring/Summer</button>
                        <br /><br /><br /><br /><br /><br />
                        <button type="button" class="btn btn-danger text-center">Reset</button>
                        <button type="button" class="btn btn-danger text-center">Export</button>
                    </div>
                </div>
            </div>


@code{

    [Parameter]
    public CourseDetails? SelectedCourse { get; set; }

    private CourseDetails[]? fallCourses;
    private CourseDetails[]? winterCourses;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync() called...");
        registeredCourses = await Http.GetFromJsonAsync<CourseDetails[]>("sample-data/coursesTests.json");
    }


    @* receive a CourseDetail from CourseCards, implement a function where if the course is fall, 
    it stores to the fallCourses, same for winterCourses *@
    private void ParseCourse() {
        if (SelectedCourse.Semester == "") {
        }
    }

}