@using CourseCompanion.Shared.Model
@using CourseCompanion.Shared.CourseCards
@inject HttpClient Http

<div class="card bg-gradient bg-opacity-25 bg-info">
    <div class="card-body">
        <h5 class="card-title bg-gradient bg-opacity-50 bg-info text-center"><b>Fall 2023</b></h5>
        <div class="btn-group-vertical w-100" role="group">

            @foreach (var course in registeredCourses)
            {
                <CourseCards Course="@course" />
            }

            @* <button type="button" class="btn btn-primary btn-lg btn-block">CPSC 231</button> <br />
            <button type="button" class="btn btn-success btn-lg btn-block">PHIL 279</button> <br />
            <button type="button" class="btn btn-info btn-lg btn-block">MATH 211</button> <br />
            <button type="button" class="btn btn-info btn-lg btn-block">FILM 201</button> <br />
            <button type="button" class="btn btn-info btn-lg btn-block">SOCI 201</button> <br /> *@
        </div>
    </div>
</div>

@code {
    private CourseDetails[]? registeredCourses;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync() called...");
        registeredCourses = await Http.GetFromJsonAsync<CourseDetails[]>("sample-data/coursesTests.json");
    }
}