.content {
    padding: 0.5rem;
}

.container {
    position: relative;
}

.error-icon {
    position:absolute;
    border:none;
    left: -1rem;
    width: 2.2rem;
    top: 0rem;
    height: 2.2rem;
    background-color: crimson;
    color: white;
    font-size: 150%;
    font-weight: bolder;
    border-radius: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    transition-duration: 0.2s;
}

    .error-icon:hover {
        background-color: darkred;
    }

    .error-icon:hover:before {
        opacity: 1;
        visibility: visible;
    }

/* Container Tooltip */
.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

/* Style text tooltip */
.tooltipText {
    background-color: #fff;
    position: absolute;
    bottom: 130%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: all .5s;
}

    .tooltipText::after {
        content: '';
        border-width: 5px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 40%;
        margin-left: 5%;
    }

.card-content {
    font-size: smaller;
    text-align: left;
}

.e-card {
    border-radius:0.5rem;
    height: auto;
    width: contain;
    padding: 0.25rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}


    .e-card .e-card-header {
        font-size: 140%;
        font-weight: bolder;
        font-stretch: condensed;
        color: black;
    }

.right {
    float: right;
    font-stretch: condensed;
    color: rgb(51, 51, 51);
}

.left {
    float: left;
}
